{#
/**
 * @file
 * Default theme implementation for displaying the adimo Lightbox.
 *
 * Available variables:
 * - html_tag: The full HTML Tag provided
 * - data_touchpoint_id: Adimo touchpoint id
 *
 * @ingroup themeable
 */
#}
<div class="adimoWidget" data-type="lightbox"
     data-static-touchpoint-identifier="{{ data_touchpoint_id }}">
    <button class="btn btn-primary btn-buynow">{{ 'Buy now'|t }}</button>
</div>
